.music {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }

  .time-info {
    margin-top: 20px;
    text-align: center;
  }
}
