.account-book {
  padding: 20px;

  .form {
    margin-bottom: 20px;
  }

  .records {
    .record {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 5px;

      .active {
        color: #fff;
        background-color: #4594D5;
      }
    }
  }
}
